
.background-white {
position: fixed;
width: 100vw;
height: 100vh;
background-color: $color-white;
opacity: 0;
z-index: -1;

  &--active {
  opacity: 0.9;
  z-index: 2;
  transition: opacity 0.6s ease-in-out, z-index 0.3s ease-in-out;
  }
}

.aside {
padding: 24px;
width: 320px;
min-height: 160px;
height: 100vh;
overflow: auto;
position: fixed;
left: -150%;
transition: 500ms ease-in-out;
top: 0;
display: flex;
flex-direction: column;
justify-content: space-between;
background: #fff;
box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2),
  -2px 0px 4px 0px rgba(69, 79, 126, 0.02);
font-family: TT Lakes;
z-index: 3;

  @media (min-width: 360px) {
  min-width: 360px;
  }

  @media (min-width: 768px) {
  min-width: 320px;
  width: 320px;
  }

  @media (min-width: 1440px) {
  display: block;
  position: fixed;
  left: 0;
  box-shadow: none;
  z-index: 1;
  transition: none;
  }

  &--open {
  left: 0;
  }



  &__header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  }
  


}
.button-aside-close {
  @media (min-width: 1440px) {
    display: none;
  }
}

.aside-information{
  padding: 30px 0;
}


.aside-information__li {
  list-style-type: none;
  margin-bottom: 12px;
}
.aside-information__li:hover::before {
  content: "";
  display: block;
  height: 32px;
  width: 4px;
  background: #41f6d7;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  float: left;
  position: relative;
  top: 7px;
  left: -20px;
  margin-left: -5px;
}
.aside-information__button {
  display: block;
  padding: 10px 0;
  background: none;
  border: none;
  color: #1b1c21;
  font-family: TT Lakes;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  position: relative;
}
.aside-information__button:hover {
  color: #7e7e82;
  cursor: pointer;
  transition-duration: 0.5s;
}

.contact-full {
  display: flex;
  flex-direction: column;
  height: 125px;
  justify-content: space-between;
}
.contact-full--margin {
  /* margin-top: 260px; */
}
.contact-full__link {
  color: #1b1c21;
  text-decoration: none;
}
.contact-full__mail {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.2px;
}
.contact-full__telephone {
  color: #1b1c21;
  font-family: TT Lakes;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
  letter-spacing: -0.6px;
}

.radio-lang {
  color: #1b1c21;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.2px;
}
.radio-lang--margin {
   margin-top: 8px;
  @media (min-width: 768px) {
  margin-top: 40px;
  }
}
.radio-lang__input {
  appearance: none;
}
.radio-lang__input:checked + label {
  color: #7e7e82;
  transition-duration: 1s;
}
.pusto {
  height: 1px;
  display: flex;
  flex-grow: 3;
}
