
  
  body {
    margin: 0;
    min-width: 320px;
    background: #f8f8f8;
  }
  header {
    background: #ffffff;
  }
  nav.head {
    box-sizing: border-box;
    padding: 16px;
    min-width: 320px;
    height: 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  /* Блок слева */
  .head__left {
    height: 40px;
    width: 154px;
    justify-content: space-between;
    display: flex;
    align-items: center;
  }
  
  .head__left > .head__divider {
    display: none;
  }
  
  /* Блок справа */
  .head__right {
    display: flex;
  }
  
  /* Блок со способами связи */
  .head__message {
    display: flex;
    justify-content: space-between;
    display: none;
  }
  .head__message--margin {
    margin-right: 20px;
  }
  /* Блок о ремонте */
  .head_repair-inform {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .head__button {
    display: flex;
    justify-content: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    padding: 0;
    background-color: #ff3e79;
    border: none;
    text-align: center;
    margin: 0;
    align-items: center;
    cursor: pointer;
  }
  
  .head__button:not(:last-child) {
    margin-right: 16px;
  }
  
  .head__button:focus,
  .head__button:hover {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  }
  
  .head__button:focus {
    border: 2px solid #cc1a4f8c;
  }
  
  /* Разделитель */
  .head__divider {
    width: 2px;
    height: 32px;
    border-radius: 1px;
    flex-shrink: 0;
    background: #eaeaea;
    margin-right: 20px;
  }
  /* Тень под шапкой */
  .shadow {
    width: 320px;
    height: 1px;
    flex-shrink: 0;
    background: #d9fff5;
  }
  
  /* Основное содержание*/
  main {
    padding-top: 24px;
  }
  
  .title {
    display: flex;
  }
  
  .title__highlight {
    width: 4px;
    max-height: 40px;
  }
  
  .title__h1 {
    color: #1b1c21;
    font-family: TT Lakes;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 142.857% */
    letter-spacing: -0.6px;
  }
  
  .title__h1--margin {
    margin: 0;
    margin-left: 16px;
  }
  
  .head_repair-inform--hide {
    display: none;
  }
  
  /* Слайд меню */
  ul.information {
    padding: 0;
    margin: 0;
    margin-left: 16px;
    box-sizing: content-box;
    height: 80%;
    margin-top: 24px;
  }
  
  .information {
    display: flex;
    overflow: auto;
  }
  
  .information_li {
    list-style-type: none;
    margin-bottom: 0;
  }
  
  .information__button {
    height: 40px;
    white-space: nowrap;
    background: none;
    border: none;
    color: #7e7e82;
    font-family: TT Lakes;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.2px;
    border: 2px solid transparent;
    cursor: pointer;
  }
  
  .information__button:focus,
  .information__button:hover {
    border-radius: 6px;
    border: 2px solid #b8ffec;
    background: #fff;
  }
  
  .information__button:focus {
    background: #b8ffeca6;
  }
  
  /* Статья */
  .section1 {
    margin: 24px 16px;
    height: 100%;
  }
  
  .about-us__text {
    color: #1b1c21;
    font-family: "TT Lakes";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    letter-spacing: 0.2px;
  }
  
  .about-us__text--hide {
    display: none;
  }
  
  .about-us__text--hide2 {
    font-size: 0;
  }
  
  .read-more {
    display: flex;
    align-items: center;
    width: 140px;
  
    height: 24px;
    padding: 0;
    border: none;
    background: none;
    border-radius: 30px;
    cursor: pointer;
    margin-bottom: 16px;
  }
  
  .read-more:focus,
  .read-more:hover {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  }
  
  .read-more:focus {
    border: 2px solid #d9fff5;
  }
  
  .button--text {
    color: #1b1c21;
    font-family: TT Lakes;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.2px;
  }
  
  .read-more__text {
    width: 100px;
  }
  
  .img {
    display: flex;
    justify-content: center;
  }
  .img__main {
    width: 320px;
  }
  
  /* Устроства с маленьким экраном (планшеты, 768px и выше) */
  @media (min-width: 768px) {
    body {
      min-height: 504px;
    }
    .head__message {
      display: flex;
    }
  
    .head__left > .head__divider {
      display: block;
    }
  
    /* Слайд меню */
    ul.information {
      margin-left: 32px;
    }
  
    /* Статья */
    .section1 {
      display: flex;
      margin-top: 32px;
      height: 100%;
    }
  
    .about-us {
      margin-right: 48px;
    }
  
    .about-us__text--hide {
      display: block;
    }
  
    .img__main {
      width: 360px;
    }
  
    .img__main {
      /* width: 360px; */
      min-width: 433px;
      /* margin: 0px 24px 24px 0; */
      border-radius: 10px;
    }
  }
  
  /* Устройства с большим экраном ( 1120px и выше) */
  @media (min-width: 1120px) {
    header {
      display: none;
    }
  
    .head_repair-inform--hide {
      display: flex;
      margin-left: auto;
      margin-right: 32px;
    }
  
    .head_repair-inform--hide > .button--text {
      margin-right: 8px;
    }
  
    .main__information {
      flex-wrap: wrap;
    }
  
    ul.information {
      margin: 24px;
      margin-right: 0px;
    }
  
    /* Статья */
    .section1 {
      margin: 20px 32px;
    }
  
    .about-us {
      margin-right: 36px;
    }
  
    .about-us__text--hide2 {
      font-size: 14px;
    }
  
    .img__main {
      width: 531px;
    }
  }
  