body {
   font-family: "TTLakes";
    background-color: $back;
    color: $text;
    user-select: none;
  }
  .image {
    width: 500px;
    height: 300px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('img/logo2.jpg');
  }